TLcg_UI/.objs
TLcg/obj/*
TLcg/Library/*
TLcg/Temp/*
TLcg/.vs
/*.sln
/*.csproj
/.vs
/*.DS_Store
/.vscode
/*.userprefs
/*.user
TLcg/TLcg.sln
TLcg/TLcg.csproj
TLcg/TLcg.Editor.csproj
TLcg/Assets/3rdLibs/XLua/Gen/*
TLcg/Assets/3rdLibs/XLua/Gen.meta
TLcg/Builds/*
TLcg/Temp/*
TLcg/Assets/Resources/Lua/*
TLcg/Assets/Resources/Lua.meta
TLcg/Assembly-CSharp.csproj
TLcg/Assembly-CSharp-Editor.csproj
